.container {
  padding: 40px 12px 40px 12px;
  position: relative;
  text-align: center; 
  font-family: 'Sacramento', cursive;
}

.desc {
  margin-top: 8px;
  font-size: 16px;
  font-weight: 500;
  font-style: italic;
}

.subDesc {
  margin-top: 24px;
  font-size: 26px;
  font-weight: 500;
}
