.container {
  min-height: 100vh;
  padding: 80px 12px 12px 12px;
  position: relative;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url('/images/parents.jpg');
  background-position: center;
  background-size: cover;
  filter: brightness(120%);
  opacity: .2;
}

.bg::after {
  position: absolute;
  content:"";
  height:100vh;
  width:100%;
  top:0;
  left:0;
  background: linear-gradient(to bottom, rgba(255,0,0,0) 0%,#F8F4E1 120%);
}

.imgContainer {
  margin: auto;
  width: 180px;
  height: 200px;
  border-radius: 80px 80px 0 0;
  position: relative;
  overflow: hidden;
  border: 4px solid var(--secondaryColor);
  box-shadow: 2px 2px 4px var(--color);
  transition: all .5s;

  .heroImg {
    // border-radius: 80px 80px 0 0;
    object-fit: cover;
    transform: scale(1.5);
    margin-top: -30px;
  }
}

.name {
  margin-top: 20px;
  text-align: center;
  font-family: 'Damion', cursive;
  color: var(--secondaryColor);
  padding: 0 20px;
}

.man, .woman {
  font-size: 42px;
  font-weight: 600;
}

.man {
  // margin-right: 100px;
  margin-bottom: -36px;
}

.woman {
  // margin-left: 100px;
  margin-top: -36px;
}

.and {
  font-size: 68px;
  font-weight: 700;
}

.descContainer {
  margin-top: 20px;
  text-align: center;
}

.desc {
  font-size: 18px;
  font-weight: 500;
}

.date {
  font-size: 28px;
  font-weight: 800;
  color: var(--secondaryColor);
}

.countDown {
  text-align: center;
  margin-top: 20px;
}

.time {
  font-size: 40px;
  font-weight: 900;
  color: var(--secondaryColor);
}

.buttonContainer {
  position: relative;
}

@media screen and (max-height: 620px) {
  .imgContainer {
    width: 180px;
    height: 120px;
    border-radius: 76px 76px 0 0;
  }

  .name {
    margin-top: 8px;
    padding: 0;
  }

  .man, .woman {
    font-size: 32px;
  }
  
  .and {
    margin: 12px 0;
    font-size: 44px;
  }

  .descContainer {
    margin-top: 8px;
  }

  .desc {
    font-size: 14px;
  }
  
  .date {
    font-size: 24px;
  }

  .countDown {
    margin-top: 8px;
  }
  
  .time {
    font-size: 32px;
  }
}

@media screen and (max-width: 450px) {
  .imgContainer {
    width: 140px;
    height: 140px;
  }

  .name {
    margin-top: 8px;
    padding: 0;
  }

  .man, .woman {
    font-size: 32px;
  }
  
  .and {
    margin: 12px 0;
    font-size: 44px;
  }

  .desc {
    font-size: 14px;
  }
  
  .date {
    font-size: 24px;
  }
  
  .time {
    font-size: 32px;
  }
}