.container {
  // min-height: 100vh;
  padding: 40px 12px 220px 12px;
  position: relative; 
}

.desc {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

.salam {
  margin-top: 20px;
  font-size: 18px;
  font-family: 'Sacramento', cursive;
  font-weight: 500;
  text-align: center;
  color: var(--secondaryColor);
}

.lastWord {
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

.personName {
  font-size: 44px;
  font-weight: 600;
  // font-family: 'Sacramento', cursive;
  font-family: 'Damion', cursive;
  text-align: center;
  color: var(--secondaryColor);
}

.supported {
  margin-top: 12px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  position: relative;
}

.textSupported {
  margin-left: -184px;
}

.myLink {
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
  z-index: 999;
  position: absolute;
  margin-left: 8px;
}

@media screen and (max-width: 450px) {
  .personName {
    font-size: 32px;
  }
}
